body{
	padding: 40px;
}

.header{
	text-align: center;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 100px;
}

.columns{
	border: 2px red solid;
	background-color: yellowgreen;
}

.subheading{
	text-align: center;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 50px;
	margin-bottom: 40px;
}

.pure-menu{
	text-align: center;
}

.image_1{
	border-radius: 10px;
}

.logo{
	width: 120px !important;
}